[submodule "software-microcontroller/libopencm3"]
	path = software-microcontroller/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "MPC/MP-SPDZ"]
	path = MPC/MP-SPDZ
	url = https://github.com/data61/MP-SPDZ.git
